.reveal [shadow]{
    text-shadow: 4px 4px #000000;
}

.reveal [shadow-sm]{
    text-shadow: 2px 2px #000000;
}


.reveal [right]{
    text-align: right;
}

.reveal [left]{
    text-align: left;
}

.reveal [red]{
    color: red;
}

.reveal [yellow]{
    color: yellow;
}